src/main/resources/schemas/default.xml

<?xml version="1.0"?>
<!-- Default result schema -->

<xs:schema xmlns="http://autodesk.com"
           xmlns:jbs="http://autodesk.com/jenkins/jbs"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <jbs:failure type="jbs:boolean">true</jbs:failure>

    <xs:complexType name="Threshold" type="jbs:threshold">
        <xs:sequence>
            <xs:element name="minimum" type="jbs:minimum"/>
            <xs:element name="maximum" type="jbs:maximum"/>
            <xs:element name="delta" type="jbs:delta"/>
            <xs:element name="percentage" type="jbs:percentage"/>
            <xs:element name="ignoreNegativeDeltas" type="jbs:ignoreNegativeDeltas"/>
        </xs:sequence>
        <xs:attribute name="method" type="jbs:method"/>
    </xs:complexType>

    <xs:complexType name="Parameter" type="jbs:parameter">
        <xs:sequence>
            <xs:element name="description" type="jbs:description"/>
            <xs:element name="unit" type="jbs:unit"/>
            <xs:element name="value" type="jbs:value"/>
        </xs:sequence>
        <xs:attribute name="name" type="jbs:name"/>
    </xs:complexType>

    <xs:complexType name="Thresholds">
        <xs:sequence>
            <xs:element name="description" type="jbs:description"/>
            <xs:element name="threshold" type="Threshold" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="jbs:name"/>
    </xs:complexType>

    <xs:complexType name="Parameters">
        <xs:sequence>
            <xs:element name="description" type="jbs:description"/>
            <xs:element name="parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="jbs:name"/>
    </xs:complexType>

    <xs:complexType name="Result" type="jbs:result">
        <xs:sequence>
            <xs:element name="description" type="jbs:description"/>
            <xs:element name="unit" type="jbs:unit"/>
            <xs:element name="boolValue" type="jbs:boolean"/>
            <xs:element name="intValue" type="jbs:integer"/>
            <xs:element name="dblValue" type="jbs:double"/>
            <xs:element name="value" type="jbs:value"/>
            <xs:element name="id" type="jbs:id"/>
            <xs:element name="message" type="jbs:message"/>
            <xs:element name="threshold" type="Threshold" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="thresholds" type="Thresholds" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="jbs:name"/>
    </xs:complexType>

    <xs:complexType name="Test">
        <xs:sequence>
            <xs:element name="description" type="jbs:description"/>
            <xs:element name="result" type="Result" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parameters" type="Parameters" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="jbs:name"/>
    </xs:complexType>

    <xs:complexType name="Group">
        <xs:sequence>
            <xs:element name="description" type="jbs:description"/>
            <xs:element name="test" type="Test" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parameters" type="Parameters" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="jbs:name"/>
    </xs:complexType>

    <xs:element name="group" type="Group"/>
</xs:schema>