src/main/resources/schemas/simplest.xml

<?xml version="1.0"?>
<!-- Simple result schema -->

<xs:schema xmlns="http://autodesk.com"
           xmlns:jbs="http://autodesk.com/jenkins/jbs"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >

    <jbs:failure type="jbs:boolean">true</jbs:failure>

    <xs:complexType name="Parameter" type="jbs:parameter">
        <xs:sequence>
            <xs:element name="name" type="jbs:name"/>
            <xs:element name="description" type="jbs:description"/>
            <xs:element name="value" type="jbs:value"/>
            <xs:element name="unit" type="jbs:unit"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Threshold" type="jbs:threshold">
        <xs:sequence>
            <xs:element name="method" type="jbs:method"/>
            <xs:element name="minimum" type="jbs:minimum"/>
            <xs:element name="maximum" type="jbs:maximum"/>
            <xs:element name="delta" type="jbs:delta"/>
            <xs:element name="percentage" type="jbs:percentage"/>
            <xs:element name="ignoreNegativeDeltas" type="jbs:ignoreNegativeDeltas"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="result" type="jbs:result">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="jbs:name"/>
                <xs:element name="description" type="jbs:description"/>
                <xs:element name="value" type="jbs:value"/>
                <xs:element name="unit" type="jbs:unit"/>
                <xs:element name="id" type="jbs:id"/>
                <xs:element name="message" type="jbs:message"/>
                <xs:element name="parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="threshold" type="Threshold" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>